body{
	background-color: #ccffff;
}

#articolo{
	margin-left:5%;
	margin-right:5%;
	text-align: justify;
	background-color: white;
	padding: 2%;
}


table {
  border: 2px solid black;
  border-collapse: separate;
  border-spacing: 5px;
  margin-left:auto; 
	margin-right:auto;
}

#sceltaTumore{
	padding-top: 20px;
    padding-bottom: 10px;
	text-align:center;
}
#sceltaTumore li {
  display: inline-block;
  border: 1px solid #ccc;
  background-color: rgba(220, 220, 220, .1);
  width: 56px;
  text-align: center;
  padding: 4px 15px;
  cursor: pointer;
  border-radius: 3px;
  margin: 2px;
  transition: all .3s;
  box-shadow: 1px 1px 0 rgba(180, 180, 180, .1);
}

#sceltaTumore li{
	padding: 5px 0px;
	margin: 2px;
	width: 120px;
}

#sceltaTumore li:hover{
  background-color: #3d3d3d;
  color: #fff;
}

#sceltaTumore li.active{
  background-color: #3d3d3d;
  color: #eee;
}

.graph{
	padding-bottom: 20px;
}

#note{
	font-size: 80%;
}

.emphasis{
	font-size: 120%;
	background-color: yellow;

}